 
 h2{
    text-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif ;
    font-stretch: extra-expanded  ;
    color:  #0955fb;
    
    /* text-shadow: 1px 1px rgb(255, 174, 0); */
 }