.add-admin-container {
    background-color: #ffffff;
    padding: 20px;
    width: 45%; /* Use percentage width for responsiveness */
    max-width: 600px; /* Add max-width for better control on large screens */
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 1.1rem; /* Re-enable font size for formality */
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left; /* Align title to the left */
}

.admin-form {
    width: 100%; /* Full width of the container */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

.input_group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
}

.input_group label {
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold;
    padding:10px 5px;
    color: #333; /* Darker text color for better readability */
    text-align: left; /* Ensure label text is left-aligned */
}

.email_input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    width: 70%; /* Make input take up full width of the parent */
}

.add-admin-btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #028d19;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 30%; /* Make the button full width */
    align-self: flex-start; /* Align button to the left */
}

.add-admin-btn:hover {
    background-color: #c76e01;
}
@media (min-width: 500px) {
    .add-admin-container {
        width: 90%;
     
    }
    
}