.container-flex{
    
    /* background: linear-gradient(240deg, #edcb05bd   35%, #e8e9b1bd 100%); */
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    max-width: 90vw;
    margin: 40px auto;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: aqua; */
}
